$menu-width: 90px;
$win-padding: 40px;
$chat-list-width: 230px;
$chat-room-title-height: 50px;
$chat-room-editor-height: 170px;
$friends-list-width: 230px;

$bg-grey-light: #ededed;
$bg-grey-lighter: #fbfbfb;



$color-scheme: light;
$oc-color-white: #ffffff;
$oc-color-black: #000000;
$oc-color-primary: #409eff;
$oc-color-primary-light-3: #79bbff;
$oc-color-primary-light-5: #a0cfff;
$oc-color-primary-light-7: #c6e2ff;
$oc-color-primary-light-8: #d9ecff;
$oc-color-primary-light-9: #ecf5ff;
$oc-color-primary-dark-2: #337ecc;
$oc-color-success: #67c23a;
$oc-color-success-light-3: #95d475;
$oc-color-success-light-5: #b3e19d;
$oc-color-success-light-7: #d1edc4;
$oc-color-success-light-8: #e1f3d8;
$oc-color-success-light-9: #f0f9eb;
$oc-color-success-dark-2: #529b2e;
$oc-color-warning: #e6a23c;
$oc-color-warning-light-3: #eebe77;
$oc-color-warning-light-5: #f3d19e;
$oc-color-warning-light-7: #f8e3c5;
$oc-color-warning-light-8: #faecd8;
$oc-color-warning-light-9: #fdf6ec;
$oc-color-warning-dark-2: #b88230;
$oc-color-danger: #f56c6c;
$oc-color-danger-light-3: #f89898;
$oc-color-danger-light-5: #fab6b6;
$oc-color-danger-light-7: #fcd3d3;
$oc-color-danger-light-8: #fde2e2;
$oc-color-danger-light-9: #fef0f0;
$oc-color-danger-dark-2: #c45656;
$oc-color-error: #f56c6c;
$oc-color-error-light-3: #f89898;
$oc-color-error-light-5: #fab6b6;
$oc-color-error-light-7: #fcd3d3;
$oc-color-error-light-8: #fde2e2;
$oc-color-error-light-9: #fef0f0;
$oc-color-error-dark-2: #c45656;
$oc-color-info: #909399;
$oc-color-info-light-3: #b1b3b8;
$oc-color-info-light-5: #c8c9cc;
$oc-color-info-light-7: #dedfe0;
$oc-color-info-light-8: #e9e9eb;
$oc-color-info-light-9: #f4f4f5;
$oc-color-info-dark-2: #73767a;
$oc-bg-color: #ffffff;
$oc-bg-color-page: #f2f3f5;
$oc-bg-color-overlay: #ffffff;
$oc-text-color-primary: #303133;
$oc-text-color-regular: #606266;
$oc-text-color-secondary: #909399;
$oc-text-color-placeholder: #a8abb2;
$oc-text-color-disabled: #c0c4cc;
$oc-border-color: #dcdfe6;
$oc-border-color-light: #e4e7ed;
$oc-border-color-lighter: #ebeef5;
$oc-border-color-extra-light: #f2f6fc;
$oc-border-color-dark: #d4d7de;
$oc-border-color-darker: #cdd0d6;
$oc-fill-color: #f0f2f5;
$oc-fill-color-light: #f5f7fa;
$oc-fill-color-lighter: #fafafa;
$oc-fill-color-extra-light: #fafcff;
$oc-fill-color-dark: #ebedf0;
$oc-fill-color-darker: #e6e8eb;
$oc-fill-color-blank: #ffffff;
$oc-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
$oc-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
$oc-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
$oc-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
$oc-disabled-bg-color: var($oc-fill-color-light);
$oc-disabled-text-color: var($oc-text-color-placeholder);
$oc-disabled-border-color: var($oc-border-color-light);
$oc-overlay-color: rgba(0, 0, 0, .8);
$oc-overlay-color-light: rgba(0, 0, 0, .7);
$oc-overlay-color-lighter: rgba(0, 0, 0, .5);
$oc-mask-color: rgba(255, 255, 255, .9);
$oc-mask-color-extra-light: rgba(255, 255, 255, .3);
$oc-border-width: 1px;
$oc-border-style: solid;
$oc-border-color-hover: var($oc-text-color-disabled);
$oc-border: var($oc-border-width) var($oc-border-style) var($oc-border-color);
$oc-svg-monochrome-grey: var($oc-border-color);